# See https://www.git-scm.com/docs/gitattributes#_effects for more information
* text=auto eol=lf merge=union linguist-detectable
*.jpg filter=lfs diff=lfs merge=lfs -text
*.jpeg filter=lfs diff=lfs merge=lfs -text
